body{
    background-color:bisque;
}
form{
    text-align: center;
    margin-top: 100px;
}
.btnn{
    margin-top:5%;
    width: 10%;
    height: 20%;
    background-color:white;   
    text-decoration:black;
    font: size 50px; 
}
.log{
    background-color:black;
    text-align: center;
    margin-top: 100px; 
    width:20%;
    height: 70%; 
}
